<ion-header>
    <ion-toolbar>
        <ion-title>Equipos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backSeguirEquipo()"></ion-icon>
    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/equipo1.png" alt="WARRIORS LOGO">
            </div>
            <ion-card-title>Golden State Warriors</ion-card-title>
            <ion-card-subtitle>Record: 0-0</ion-card-subtitle>
        </ion-card-header>
        <div class="ion-text-center">
            <ion-button shape="round" fill="outline" (click)="movetoWarriors()">Informacion</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/equipo2.png" alt="SIXERS LOGO">
            </div>
            <ion-card-title>Sixers</ion-card-title>
            <ion-card-subtitle>Record: 0-0</ion-card-subtitle>
        </ion-card-header>
        <div class="ion-text-center">
            <ion-button shape="round" fill="outline" (click)="movetoSixers()">Informacion</ion-button>
        </div>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/equipo3.png" alt="BULLS LOGO">
            </div>
            <ion-card-title>Chicago Bulls</ion-card-title>
            <ion-card-subtitle>Record: 0-0</ion-card-subtitle>
        </ion-card-header>
        <div class="ion-text-center">
            <ion-button shape="round" fill="outline" (click)="movetoBulls()">Informacion</ion-button>
        </div>
    </ion-card>



</ion-content>