<ion-header>
    <ion-toolbar>
        <ion-title>Calendario</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backWarriors()"></ion-icon>
    <ion-list>
        <ion-item>
            <ion-label>Oct,14 Game vs Bulls</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Oct,21 Game vs Warriros</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Oct,28 Game vs Sixers</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Nov ,3 Game vs Sonics</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Nov,10 Game vs Lakers</ion-label>
        </ion-item>
    </ion-list>
</ion-content>