<ion-header>
    <ion-toolbar>
        <ion-title>Tablas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backHome()"></ion-icon>
    <ion-card>
        <div class="ion-text-center">
            <ion-card-header>
                <ion-card-title>Liga A
                </ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-button shape="round" fill="outline" (click)="GoTablaA()">Tableo</ion-button>
            </ion-card-content>
        </div>
    </ion-card>
    <ion-card>
        <div class="ion-text-center">
            <ion-card-header>
                <ion-card-title>Liga B
                </ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-button shape="round" fill="outline" (click)="GoTablaB()">Tableo</ion-button>
            </ion-card-content>
        </div>
    </ion-card>

    <ion-card>
        <div class="ion-text-center">
            <ion-card-header>
                <ion-card-title>Liga C
                </ion-card-title>
                <ion-card-subtitle></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
                <ion-button shape="round" fill="outline" (click)="GoTablaC()">Tableo</ion-button>
            </ion-card-content>
        </div>
    </ion-card>

</ion-content>