<ion-header>
    <ion-toolbar>
        <ion-title>Jugadores</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backWarriors()"></ion-icon>
    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/curry.jfif" alt="Stephen Curry">
            </div>
            <ion-card-title>Stephen Curry</ion-card-title>
            <ion-card-subtitle>Number: 30</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Puntos: 342</li>
                <li>Asistencias: 257</li>
                <li>Rebotes: 90</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/klay.jfif" alt="Klay Thompson">
            </div>
            <ion-card-title>Klay Thompson</ion-card-title>
            <ion-card-subtitle>Number: 11</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Puntos: 262</li>
                <li>Asistencias: 157</li>
                <li>Rebotes: 120</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/green.jfif" alt="Draymond Green">
            </div>
            <ion-card-title>Draymond Green</ion-card-title>
            <ion-card-subtitle>Number: 19</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Puntos: 62</li>
                <li>Asistencias: 117</li>
                <li>Rebotes: 180</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/looney.jfif" alt="Kevin Looney">
            </div>
            <ion-card-title>Kevin Looney</ion-card-title>
            <ion-card-subtitle>Number: 5</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Puntos: 92</li>
                <li>Asistencias: 27</li>
                <li>Rebotes: 250</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/toscano.jfif" alt="Juan Toscano">
            </div>
            <ion-card-title>Juan Toscano</ion-card-title>
            <ion-card-subtitle>Number: 95</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Puntos: 102</li>
                <li>Asistencias: 117</li>
                <li>Rebotes: 100</li>
            </ul>
        </ion-card-content>
    </ion-card>

</ion-content>