<ion-header>
    <ion-toolbar>
        <ion-title>TablaB</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backTablas()"></ion-icon>

    <table class="darkTable">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Equipo</th>
                <th>Won</th>
                <th>Loss</th>
                <th>Record</th>
                <th>Pendientes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Warriors</td>
                <td>8</td>
                <td>0</td>
                <td>8-0</td>
                <td>0</td>
            </tr>
            <tr>
                <td>2</td>
                <td>sixers</td>
                <td>7</td>
                <td>1</td>
                <td>7-1</td>
                <td>0</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bulls</td>
                <td>6</td>
                <td>2</td>
                <td>6-2</td>
                <td>0</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Stars</td>
                <td>5</td>
                <td>3</td>
                <td>5-3</td>
                <td>0</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Bucks</td>
                <td>4</td>
                <td>4</td>
                <td>4-4</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>
</ion-content>