<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            TOP HOOPERS
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
        <div class="ion-text-center">
            <img src="assets/LogoMakr-5FXDMt.png" alt="TOP HOOPERS LOGO">
        </div>
        <ion-card-header>
            <ion-card-title>Home</ion-card-title>
        </ion-card-header>

        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <ion-button expand="block" fill="outline" (click)="movenoticias()">Noticias</ion-button>
    <ion-button expand="block" fill="outline" (click)="moveTablas()">Tablas</ion-button>
    <ion-button expand="block" fill="outline" (click)="moveSeguirEquipo()">Informacion Equipos</ion-button>
</ion-content>