<ion-header>
    <ion-toolbar>
        <ion-title>Adeudos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backSeguirEquipo()"></ion-icon>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Inscripcion</ion-card-title>
            <ion-card-subtitle>Monto total a pagar por warriors $3,500 MXN</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Monto total Pagado por warriros: $3,500 MXN</li>
                <li>El pago de la inscripcion se tiene que hacer a mas tardar en la tercera jornada, por lo contrario el equipo sera eliminado del torneo</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Albitrajes</ion-card-title>
            <ion-card-subtitle>Monto total a pagar por warriors $2,800 MXN</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Monto Pagado por equipo warriors 2,000</li>
                <li> (Por cada juego jugado se tiene que haber pagado almenos 280 EJemplo tres juegos jugados se tiene que haber pagado un total de 840)</li>
            </ul>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Multas</ion-card-title>
            <ion-card-subtitle>Monto total a pagar por warriors $100 MXN</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ul>
                <li>Pagos tardios</li>
                <li> Conducta antideportiva </li>
            </ul>
        </ion-card-content>
    </ion-card>



</ion-content>