<ion-header>
    <ion-toolbar>
        <ion-title>Noticias</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-icon color="danger" name="chevron-back-circle-outline" (click)="backNoticias()"></ion-icon>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/ins.png" alt="Inscripciones">
            </div>
            <ion-card-title>Proximas Inscripciones</ion-card-title>
            <ion-card-subtitle>Precios: </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            3,500 de inscripción + 280 de arbitraje por juego 8 partidos de temporada regular + playoffs en el caso que tu equipo pase!
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/trofeo.jfif" alt="Champions">
            </div>
            <ion-card-title>Campeones de ligas</ion-card-title>
            <ion-card-subtitle>Defendiendo el titulo</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            Pulpos Norteños Liga A, ANSESTORS Liga B, Otakus Liga C
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/anotador.jpg" alt="Campeon Anotador A">
            </div>
            <ion-card-title>Mejor Anotador Liga A</ion-card-title>
            <ion-card-subtitle>Harry Potter</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            268 pts
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/anotador2.jpg" alt="Campeon Anotador B">
            </div>
            <ion-card-title>Mejor Anotador Liga B</ion-card-title>
            <ion-card-subtitle>Calvin Klein</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            168 pts
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            <div class="ion-text-center">
                <img src="assets/anotador3.jpg" alt="Campeon Anotador C">
            </div>
            <ion-card-title>Mejor Anotador Liga C</ion-card-title>
            <ion-card-subtitle>Bauman</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            368 pts
        </ion-card-content>
    </ion-card>
</ion-content>